{{#if summaryOnTop}}<div class='pagination-summary'>Results {{delegate.displayRangeStart}} - {{delegate.rangeStop}} of {{delegate.total}}</div>{{/if}}
<div class="pagination">
  <ul>
    <li {{bindAttr class="disablePrev:disabled"}}>
      <a {{action "previousPage"}}>
        &lt;&lt;
      </a>
    </li>
    {{#each pages}}
      <li {{bindAttr class="isCurrent:active"}}>
        <a {{action "pageTo"}}>
          {{idx}}
        </a>
      </li>
    {{/each}}
    <li {{bindAttr class="disableNext:disabled"}}>
      <a {{action "nextPage"}}>
        &gt;&gt;
      </a>
    </li>
  </ul>
</div>
{{#unless summaryOnTop}}<div class='pagination-summary'>Results {{delegate.displayRangeStart}} - {{delegate.rangeStop}} of {{delegate.total}}</div>{{/unless}}