<div class="pagination">
  <ul>
    <li {{bindAttr class="view.disablePrev:disabled"}}>
      <a {{action "previousPage" target="view"}}>
        &larr; Previous
      </a>
    </li>
    {{#each view.pages}}
      <li {{bindAttr class="isCurrent:active"}}>
        <a {{action pageTo this target="view"}}>
          {{idx}}
        </a>
      </li>
    {{/each}}
    <li {{bindAttr class="view.disableNext:disabled"}}>
      <a {{action "nextPage" target="view"}}>
        &rarr; Next
      </a>
    </li>
  </ul>
</div>
